[Desktop Entry]
Type=Application
Name=sparta
Exec=sparta
Icon=sparta
Comment=The private way to keep track of exercises and sport activities
Categories=Utility;Exercises;Sport;
Keywords=sport;exercises;