# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Produced by a regular go build.
sparta

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Files produced when building for Android
*.apk

# Files created and used when using fyne-cross
fyne.syso
*.tar.gz
*.tar.xz
*.app
usr
build
